{{#if product}}
<form action="/admin/products/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  {{else}}
  <form action="/admin/products" method="POST" enctype="multipart/form-data">
    {{/if}}

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price" value="{{product.price}}" id="price"
        placeholder="Enter price">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3">{{product.description}}</textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>