<h1>
  後台
</h1>

<a href="/admin/products">Products</a> |
<a href='/admin/orders'>Orders</a>

<div class="mt-2">
  <a href='/admin/products/create'>
    <button type="button" class="btn btn-primary">New Product</button>
  </a>
</div>

<br />
<br />
{{> message}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>

      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>

      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/products/{{this.id}}">
            Show
          </a>
        </button>

        <button type="button" class="btn btn-link">
          <a href="/admin/products/{{this.id}}/edit">
            Edit
          </a>
        </button>

        <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;"
          onsubmit="return confirm('確定刪除嗎')">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>